# name: Deploy to Vercel

# on:
#     push:
#         branches:
#             - main
#             - dev
#     pull_request:

# jobs:
#     deploy:
#         name: Deploy
#         runs-on: ubuntu-latest
#         environment:
#             name: ${{ github.ref_name == 'main' && 'Prod' || 'Dev' }}

#         steps:
#             - uses: actions/checkout@v3

#             - name: Install node
#               uses: actions/setup-node@v3
#               with:
#                   node-version: ${{ matrix.node-version }}
#                   cache: 'yarn'

#             - name: Install dependencies
#               run: yarn --prefer-offline
#               id: install

#             - name: Build project dependencies
#               run: yarn run build
#               id: build
#               env:
#                   VITE_WALLETCONNECT_ID: ${{ secrets.VITE_WALLETCONNECT_ID }}
#                   VITE_TESTNET_PUBLIC_RPC: ${{ secrets.VITE_TESTNET_PUBLIC_RPC }}
#                   VITE_MAINNET_PUBLIC_RPC: ${{ secrets.VITE_MAINNET_PUBLIC_RPC }}
#                   VITE_ALCHEMY_KEY: ${{ secrets.VITE_ALCHEMY_KEY }}

#             - uses: amondnet/vercel-action@v25.2.0
#               id: vercel-deployment
#               with:
#                   vercel-token: ${{ secrets.VERCEL_TOKEN }} # Required
#                   vercel-org-id: ${{ secrets.ORG_ID}} #Required
#                   scope: ${{ secrets.ORG_ID}} #Required
#                   vercel-args: ${{ github.ref_name == 'main' && '--prod' || '' }}
#                   vercel-project-id: ${{ secrets.PROJECT_ID}} #Required
#                   # working-directory: ./build

#             - name: Comment PR
#               if: github.event_name == 'pull_request'
#               uses: thollander/actions-comment-pull-request@v2
#               with:
#                   message: |
#                       Preview: ${{ steps.vercel-deployment.outputs.preview-url }}
